body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #13bcde !important;
  /* background-image: linear-gradient(180deg, rgb(78, 85, 226), #2ccddc); */
  background-image: url('../public/Images/bck4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  opacity: 0.8;
  background-attachment: fixed;
  background-position: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
